---
// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

// - UI
import { Image } from 'astro:assets'
import { Picture } from 'astro:assets'

// Content
import feature01 from '../../../assets/features/feature-01.svg'
import feature01mobile from '../../../assets/features/feature-01-mobile.svg'
import feature02 from '../../../assets/features/feature-02.svg'
import feature02mobile from '../../../assets/features/feature-02-mobile.svg'
import feature03 from '../../../assets/features/feature-03.svg'
import feature03mobile from '../../../assets/features/feature-03-mobile.svg'
import feature04 from '../../../assets/features/feature-04.svg'
import feature04mobile from '../../../assets/features/feature-04-mobile.svg'
const featureBlocks = [
	{
		title: 'Complete Project <strong>Visibility</strong>',
		text: 'Gain complete visibility into your projects and tasks with our comprehensive dashboard. Easily track progress, deadlines, and team performance at a glance. Our dashboard offers real-time project tracking',
		image: feature01,
		mobileImage: feature01mobile,
		imagePosition: 'right'
	},
	{
		title: 'Advanced <strong>Automation</strong> Tools',
		text: 'Automate repetitive tasks and streamline your workflow with our advanced automation tools. Save time and reduce errors by leveraging automated task assignments, workflow templates, and seamless integration with popular apps and services.',
		image: feature02,
		mobileImage: feature02mobile,
		imagePosition: 'left'
	},
	{
		title: '<strong>Effective</strong> Team Collaboration',
		text: 'Enhance team communication and collaboration with our seamless tools. Keep everyone on the same page and ensure efficient project execution through real-time messaging, shared document editing, and task comments. ',
		image: feature03,
		mobileImage: feature03mobile,
		imagePosition: 'right'
	},
	{
		title: 'Robust Data <strong>Security</strong>',
		text: 'Protect your data with our robust security features. We prioritize your privacy and security to ensure that your information is always safe. With end-to-end encryption, role-based access control, and regular security audits.',
		image: feature04,
		mobileImage: feature04mobile,
		imagePosition: 'left'
	}
]
---

{
	featureBlocks.map((feature) => (
		<Section>
			<Row flex>
				<Col classes="grow flex justify-center">
					{feature.mobileImage && (
						<Image src={feature.mobileImage} alt={feature.title} class="block lg:hidden" />
					)}
					{feature.image && (
						<Image src={feature.image} alt={feature.title} class="hidden lg:block" />
					)}
				</Col>
				<Col
					classes={`grow max-w-lg self-center ${feature.imagePosition === 'right' ? 'lg:-order-1' : ''}`}
				>
					<h2 class="text-pretty text-2xl lg:text-3xl" set:html={feature.title} />
					<p class="text-lg leading-relaxed">{feature.text}</p>
				</Col>
			</Row>
		</Section>
	))
}
