---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Innovative tools to <strong>transform</strong> your workflow</h2>
			<p class="pb-0 text-lg">
				Explore the suite of tools designed to streamline your workflow, enhance productivity, and
				drive growth. Each product is crafted with precision to meet your needs and exceed your
				expectations.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="All your data in one place"
				subtitle="Stay on top of your tasks and deadlines with our intuitive project management tool. Visualize progress, assign tasks, and collaborate seamlessly."
				image={feature01}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Organize & manage your projects "
				subtitle="Stay on top of your tasks and deadlines with our intuitive project management tool. "
				image={feature02}
				link="/features"
			/>
			<Card
				title="Keep your team connected"
				subtitle="With our integrated chat platform share updates, files, and messages in a secure and user-friendly environment."
				image={feature03}
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Manage your customers"
				subtitle="Build and nurture customer relationships with our powerful CRM system. "
				image={feature04}
				link="/features"
			/>
			<Card
				title="Simplify your financial operations"
				subtitle="Streamline your billing process with our easy-to-use invoicing tool. Create, send, and track invoices effortlessly."
				image={feature05}
				link="/features"
			/>
		</Col>
	</Row>
</Section>
