---
import Card from '../cards/BlogCard.astro'

const { url, data } = Astro.props

const { title, pubDate, description, author, image, tags } = data
---

<Card
	title={title}
	subtitle={'By ' + author + ', ' + pubDate.toString().slice(0, 10)}
	link={url}
	image={image}
	tags={tags}
	classes="h-full border border-neutral-100 dark:border-neutral-800 relative"
>
	<p>{description}</p>
</Card>
