---
// Highlights Section
// ------------
// Description: A section with a multiple text and image rows.

// Components
// - UI
import TextImage from '../basic/TextImage.astro'

// Content
import highlight01 from '../../../assets/highlights/highlight-01.png'
import highlight02 from '../../../assets/highlights/highlight-02.png'
import highlight03 from '../../../assets/highlights/highlight-03.png'
import highlight04 from '../../../assets/highlights/highlight-04.png'

type HighlightBlock = {
	title: string
	text: string
	image: any
	mobileImage?: any
	imageWidth: number
	imageHeight: number
	imagePosition: 'left' | 'right'
}
const highlightBlocks: HighlightBlock[] = [
	{
		title: 'Génération des <strong>matchs</strong> intelligente',
		text: 'Les matchs sont générés au fur et à mesure des inscriptions des équipes pour que toutes les équipes s\'affrontent, avec une assignation automatique des terrains, les matchs sont organisés avec une répartition fluide, évitant que les équipes jouent deux matchs consécutifs.',
		image: highlight01,
		imageWidth: highlight01.width,
		imageHeight: highlight01.height,
		mobileImage: highlight01,
		imagePosition: 'right'
	},
	{
		title: 'Génération des <strong>phases finales</strong> flexible',
		text: 'Dans les tournois avec des groupes, la progression vers les phases finales est générée au fil du tournoi. Une fois les phases de poules terminées, vous choisissez combien d\'équipes par groupe avancent. Le système crée automatiquement les huitièmes, quarts, demi-finales ou finales en fonction de vos paramètres.',
		image: highlight02,
		mobileImage: highlight02,
		imageWidth: 500,
    imageHeight: 500,
		imagePosition: 'left'
	},
	{
		title: 'Résultats <strong>en temps réel</strong>',
		text: 'Les spectateurs ont accès aux résultats en temps réel grâce à une fiche de tournoi contenant un QR Code. En le scannant, ils peuvent consulter instantanément le classement, les matchs et toutes les informations du tournoi en direct.',
		image: highlight03,
		mobileImage: highlight03,
		imageWidth: 400,
		imageHeight: 700,
		imagePosition: 'right'
	},
	{
		title: 'Attribution de notes <strong>fair-play</strong> aux équipes pendant les matchs',
		text: 'Option configurable lors de la création du tournoi, les équipes peuvent recevoir des notes de fair-play pendant les matchs. Ces notes, comptabilisées sous forme de moyenne sur 5, s’intègrent dans la comptabilisation pour le classement final.',
		image: highlight04,
		mobileImage: highlight04,
    imageWidth: 500,
    imageHeight: 200,
		imagePosition: 'left'
	}
]
---

<div id="features">
	{
		highlightBlocks.map((highlight, key) => (
			<>
        <TextImage
          id={`highlight-${key}`}
          title={highlight.title}
          text={highlight.text}
          image={highlight.image}
          imageWidth={highlight.imageWidth}
          imageHeight={highlight.imageHeight}
          mobileImage={highlight.mobileImage}
          imagePosition={highlight.imagePosition}
          classes={key === 0 ? '!pb-5' : key === highlightBlocks.length - 1 ? '!pt-0' : '!py-0'}
        />
        <br /><br />
      </>
		))
	}
</div>
