---
// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'

const {
	id = '',
	title = '',
	image = '',
	imageW = '',
	imageH = '',
	mobileImage,
	imagePosition = 'right',
	text = '',
	classes = '',
	offsetImage = false
} = Astro.props
---

<Section id={id} classes={classes}>
	<Row>
		<Col span="6" classes="relative">
			<picture
				class=`text-image__picture ${offsetImage  ? 'text-image__picture--offset' : ''} ${imagePosition === 'right' ? 'text-image__picture--offset-right' : ''}`
			>
				{mobileImage && <source srcset={mobileImage.src} media="(max-width: 1024px)" />}
				<img src={image.src} alt={title} width={imageW} height={imageH} />
			</picture>
		</Col>
		<Col span="6" classes={`self-center ${imagePosition === 'right' ? 'lg:-order-1' : ''}`}>
			<div class="text-image__content">
				<h2 class="text-image__heading" set:html={title} />
				<p class="text-image__text">{text}</p>
			</div>
		</Col>
	</Row>
</Section>

<style>
	.text-image__picture {
		@apply flex justify-center lg:[&.text-image\_\_picture--offset-right_img]:left-0 lg:[&.text-image\_\_picture--offset-right_img]:right-auto lg:[&.text-image\_\_picture--offset]:h-full lg:[&.text-image\_\_picture--offset_img]:absolute lg:[&.text-image\_\_picture--offset_img]:right-0 lg:[&.text-image\_\_picture--offset_img]:top-1/2 lg:[&.text-image\_\_picture--offset_img]:max-w-none lg:[&.text-image\_\_picture--offset_img]:-translate-y-1/2;
	}
	.text-image__content {
		@apply max-w-xl;
	}
	.text-image__heading {
		@apply text-pretty text-2xl lg:text-3xl;
	}
	.text-image__text {
		@apply text-lg leading-relaxed;
	}
</style>
