---
import { Icon } from 'astro-icon/components'
import type { FooterAbout, FooterColumn, SubFooter } from '../interfaces/footer'

const footerAbout: FooterAbout = {
	title: 'oxygenna',
	aboutText:
		'Expertly made, responsive, accessible components in React and HTML ready to be used on your website or app. Just copy and paste them on your Tailwind CSS project.',
	logo: { src: 'logo.svg', alt: 'wind ui' }
}

const footerColumns: FooterColumn[] = [
	{
		category: 'Product',
		subCategories: [
			{
				subCategory: 'Features',
				subCategoryLink: 'javascript:void(0)'
			},
			{
				subCategory: 'Customers',
				subCategoryLink: 'javascript:void(0)'
			},
			{
				subCategory: 'Pricing',
				subCategoryLink: 'javascript:void(0)'
			}
		]
	},
	{
		category: 'About us',
		subCategories: [
			{
				subCategory: 'About us',
				subCategoryLink: 'javascript:void(0)'
			},
			{
				subCategory: 'Events',
				subCategoryLink: 'javascript:void(0)'
			},
			{
				subCategory: 'Careers',
				subCategoryLink: 'javascript:void(0)'
			}
		]
	},
	{
		category: 'Get in touch',
		subCategories: [
			{
				subCategory: 'Contact',
				subCategoryLink: 'javascript:void(0)'
			},
			{
				subCategory: 'Support',
				subCategoryLink: 'javascript:void(0)'
			},
			{
				subCategory: 'Join us',
				subCategoryLink: 'javascript:void(0)'
			}
		]
	}
]

const subFooter: SubFooter = {
	copywriteText: '© Oxygenna 2024.',
	socials: [
		{
			link: 'javascript:void(0)',
			icon: 'fb-icon'
		},
		{
			link: 'javascript:void(0)',
			icon: 'twitter-icon'
		},
		{
			link: 'javascript:void(0)',
			icon: 'discord-icon'
		}
	]
}
---

<footer class="footer">
	<!-- Main footer -->
	<div class="footer__main">
		<div class="footer__container">
			<div class="footer__cols">
				<div class="footer__col" aria-labelledby="footer-header">
					<a
						aria-label="webiste logo"
						aria-current="page"
						class="text-contrast-high mb-6 flex items-center gap-2 whitespace-nowrap text-base font-medium leading-6 focus:outline-none"
						href="/"
					>
						<img src={footerAbout.logo.src} alt={footerAbout.logo.alt} width="32" height="32" />
						{footerAbout.title}
					</a>
					<p>
						{footerAbout.aboutText}
					</p>
				</div>
				{
					footerColumns.map((column) => (
						<nav class="footer__col" aria-labelledby="footer-product-5-log">
							<h3 id="footer-product-5-logo1">{column.category}</h3>
							<ul>
								{column.subCategories.map((subCategory) => (
									<li>
										<a href={subCategory.subCategoryLink}> {subCategory.subCategory} </a>
									</li>
								))}
							</ul>
						</nav>
					))
				}
			</div>
		</div>
	</div>
	<!-- Sub Footer -->
	<div class="footer__sub">
		<div class="footer__container">
			<div class="footer__sub-cols">
				<div class="footer__sub-col">{subFooter.copywriteText}</div>
				<nav aria-labelledby="footer-social-links-dark" class="footer__sub-col text-right">
					<h2 class="sr-only" id="footer-social-links-dark">Social Media Links</h2>
					<ul>
						{
							subFooter.socials.map((social) => (
								<li>
									<a href={social.link}>
										<Icon name={social.icon} />
									</a>
								</li>
							))
						}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>

<style>
	.footer {
		@apply text-neutral-500;
	}
	.footer a {
		@apply transition-colors duration-300 hover:text-primary-500 focus:text-primary-600;
	}
	.footer__main {
		@apply border-t border-neutral-200 bg-neutral-50 pb-12 pt-16 text-sm [&_li]:mb-2 [&_li]:leading-6;
	}
	.footer__main h3 {
		@apply text-contrast-high mb-6 text-base font-medium;
	}
	.footer__container {
		@apply container mx-auto px-6;
	}

	.footer__cols {
		@apply grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12 [&_.footer\_\_col:nth-child(2)]:lg:col-start-7;
	}

	.footer__col {
		@apply col-span-2 md:col-span-4 lg:col-span-2;
	}
	div.footer__col {
		@apply col-span-4 md:col-span-8 lg:col-span-4;
	}

	.footer__sub {
		@apply border-t border-slate-200 bg-slate-100/80 py-4 text-sm;
	}
	.footer__sub ul {
		@apply flex items-center justify-end gap-4;
	}
	.footer__sub a {
		@apply [&_svg]:h-4 [&_svg]:w-4 [&_svg]:shrink-0;
	}
	.footer__sub-cols {
		@apply grid grid-cols-4 items-center gap-6 md:grid-cols-8 lg:grid-cols-12;
	}

	.footer__sub-col {
		@apply col-span-2 md:col-span-4 lg:col-span-6;
	}
</style>
