---
import Image from 'astro/components/Image.astro'
import Card from './partials/Card.astro'
import CardBody from './partials/CardBody.astro'
import Heading from '../../ui/Heading.astro'

const { title = '', subtitle, image, link, type, classes } = Astro.props
---

<Card classes={classes} link={link}>
	<Image src={image} alt={title} class={type === 'image-bottom' ? 'order-2' : ''} />
	<CardBody>
		<Heading level="4" size="lg" mobileSize="lg">{title}</Heading>
		<p>{subtitle}</p>
		<slot />
	</CardBody>
</Card>

<style></style>
