---
import Image from 'astro/components/Image.astro'
import Card from './partials/Card.astro'
import CardBody from './partials/CardBody.astro'
import Heading from '../../ui/Heading.astro'

const {
	title = '',
	headingLevel = '3',
	subtitle,
	titleSize = 'lg',
	image,
	link,
	type,
	classes
} = Astro.props
---

<Card classes={classes} link={link}>
	{image && <Image src={image} alt={title} class={type === 'image-bottom' ? 'order-2' : ''} />}
	<CardBody>
		<Heading level={headingLevel} size={titleSize} mobileSize="lg">{title}</Heading>
		<p>{subtitle}</p>
		<slot />
	</CardBody>
</Card>

<style></style>
