---
import { Image } from 'astro:assets'
import Card from './partials/Card.astro'
import CardBody from './partials/CardBody.astro'

const { title = '', subtitle, titleSize = 'lg', image, link, type, classes } = Astro.props

const { src, ...attrs } = Astro.props
---

<Card classes={classes} link={link}>
	{image && <Image src={image} alt={title} class={type === 'image-bottom' ? 'order-2' : ''} />}
	<CardBody>
		<h3 class:list={[['text-' + `${titleSize} ` + `lg:text` + `${titleSize}`]]}>
			{title}
		</h3>
		<p>{subtitle}</p>
		<slot />
	</CardBody>
</Card>
