---
import Header from '../components/ui/Header.astro'
import Main from '../components/ui/Main.astro'
import Footer from '../components/ui/Footer.astro'
import Scriprs from '../components/LocalScripts.astro'
import '@fontsource-variable/inter'
import '../styles/global.css'

export interface Props {
	title?: string
	description?: string
	image?: string
}

const {
	title = 'Foxi. Tailwind CSS Astro Starter Kit by Oxygenna',
	description = 'Foxi is a design and development agency that specializes in creating beautiful and functional websites.'
} = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-animation">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="theme-color" content="#134e4a" />
		<link rel="canonical" href={Astro.url} />
		<title>{title}</title>
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/og.jpg" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={image} />
	</head>
	<body>
		<Header />
		<Main>
			<slot />
		</Main>
		<Footer />
		<Scriprs />
	</body>
</html>
