---
// Imports
const { frontmatter } = Astro.props

//Layout Components
import Layout from './Layout.astro'

// Section Components
import BlogPostHero from '../components/blocks/blog/BlogPostHero.astro'

// Content
// - SEO
const SEO = {
	title: `${frontmatter.title} | Foxi`,
	description: `${frontmatter.description}`
}
---

<Layout title={SEO.title} description={SEO.description}>
	<BlogPostHero
		tags={frontmatter.tags}
		title={frontmatter.title}
		author={frontmatter.author}
		publishDate={frontmatter.pubDate.toLocaleDateString('en-US', {
			year: 'numeric',
			month: 'long',
			day: 'numeric'
		})}
	/>

	<div class="post-body basic-text basic-text--lg">
		<slot />
	</div>
</Layout>

<style>
	.post-body {
		@apply mx-auto max-w-3xl px-6 py-12 lg:py-24;
	}
</style>
