---
// Badge
// ------------
// Description: A badge is a visual indicator that draws attention to an interface element. It enhances the component to which it is attached with additional information.
// Properties:
// - Name: the text of the badge
// - Link: the link of the badge (optional)
// - Type: the type of the badge (neutral, primary)
// - Classes: additional classes

// Reference: https://wind-ui.com/components/badges/

// Props
type Props = {
	name: string
	link?: string
	type?: string
	classes?: string
}
const { name, link, type = 'neutral', classes } = Astro.props
---

{
	link ? (
		<a
			href={link}
			class:list={['badge', { [`${classes}`]: classes }, { [`badge--${type}`]: type }]}
		>
			{name}
		</a>
	) : (
		<span class:list={['badge', { [`${classes}`]: classes }, { [`badge--${type}`]: type }]}>
			{name}
		</span>
	)
}

<style>
	.badge {
		@apply inline-flex items-center justify-center gap-1 rounded px-1.5 py-1 text-sm transition-colors;
	}
	.badge--neutral {
		@apply bg-neutral-100 text-neutral-500 dark:bg-neutral-800 dark:text-neutral-500;
	}
	.badge--primary {
		@apply bg-primary-500 text-white;
	}
</style>
