---
import Heading from './Heading.astro'
import { Icon } from 'astro-icon/components'
type Props = {
	type?: 'top-icon' | 'side-icon'
	title?: string
	icon?: string
	iconStyle?: 'normal' | 'square'
	align?: 'left' | 'center'
	extraClasses?: string
}

const { type = 'top-icon', title, icon = 'rocket', iconStyle, align, extraClasses } = Astro.props
---

<div
	class:list={[
		'feature',
		{ ['feature--' + `${type}`]: type },
		{ ['feature--' + `${align}`]: align },
		{ [`${extraClasses}`]: extraClasses }
	]}
>
	<Icon
		name=`${icon}`
		class:list={[
			'shrink-0',
			{ [`size-6 text-primary-500`]: iconStyle != 'square' },
			{ [`size-10 rounded bg-primary-500 p-2 text-white`]: iconStyle === 'square' }
		]}
	/>
	<div class="feature__body">
		{
			title && (
				<Heading
					level="3"
					weight="normal"
					classes={
						'mb-4 text-lg leading-6 ' +
						(iconStyle === 'square' && type === 'side-icon' ? 'py-2 mb-2' : '')
					}
				>
					{title}
				</Heading>
			)
		}
		<slot />
	</div>

	<style>
		.feature {
			@apply flex flex-col gap-4;
		}

		.feature--center {
			@apply items-center text-center;
		}
		.feature--side-icon {
			@apply flex-row;
		}
	</style>
</div>
