---
// Testimonial
// ------------
// Description: the testimonial component is a ui element that displays a quote from a customer or client.
// Properties:
// - Blockquote: the quote
// - Figcaption: the caption
// - Cite: the cite of the testimonial
// - Avatar: the user avatar
// - Size: the size of the testimonial (base, sm)
// - MobileSize: the mobile size of the testimonial (base, sm)
// - Align: the content alignment of the testimonial (left, center)
// - Rating: the rating of the testimonial (0 to 5) - optional
// - QuoteSize: the size of the quote icon
// - classes: additional classes
// Reference: https://wind-ui.com/components/testimonials/

// Components
// - UI
import { Icon } from 'astro-icon/components'
import Rating from './Rating.astro'
import Avatar from './Avatar.astro'

// Props
type Props = {
	blockquote: string
	figcaption: string
	cite?: string
	link?: string
	avatar?: any
	size?: string
	mobileSize?: string
	align?: 'left' | 'center'
	rating?: 0 | 1 | 2 | 3 | 4 | 5
	quoteSize?: number
	classes?: string
}
const {
	blockquote,
	figcaption,
	cite,
	avatar,
	size = 'base',
	mobileSize = size,
	rating,
	align = 'left',
	link,
	classes,
	quoteSize = 64
} = Astro.props
---

<div
	class:list={[
		'testimonial',
		{ ['testimonial--' + `${align}`]: align },
		{ ['text-' + `${mobileSize}`]: mobileSize },
		{ ['lg:text-' + `${size}`]: size },
		{ [`${classes}`]: classes }
	]}
>
	<div class="testimonial__container">
		<figure class="testimonial__figure">
			<blockquote class="testimonial__blockquote">
				<p>
					{blockquote}
				</p>
			</blockquote>
			<figcaption class="testimonial__figcaption">
				{rating && <Rating rating={rating} />}
				<div class="testimonial__figcaption-container">
					{
						avatar && (
							<Avatar
								size="lg"
								image={avatar}
								radius="rounded-full"
								classes="cursor-default max-w-full shrink-0"
							/>
						)
					}
					<div class="testimonial__figcaption-cite-container">
						<span class="testimonial__figcaption--credit">{figcaption}</span>
						{
							cite && (
								<cite class="testimonial__figcaption--cite">
									{link ? <a href={link}>{cite}</a> : <span>{cite}</span>}
								</cite>
							)
						}
					</div>
				</div>
			</figcaption>
		</figure>
		<Icon
			name="quotes"
			class="testimonial--quote"
			size={quoteSize}
			width={quoteSize}
			height={quoteSize}
		/>
	</div>
</div>

<style>
	.testimonial {
		@apply overflow-hidden leading-relaxed;
	}
	.testimonial--center {
		@apply text-center [&_.testimonial\_\_figcaption:has(.avatar)_.testimonial\_\_figcaption-cite-container]:text-left [&_.testimonial\_\_figcaption]:justify-center;
	}
	.testimonial--quote {
		@apply absolute left-6 top-6 z-0 text-neutral-50 dark:text-neutral-50/15;
	}
	.testimonial__container {
		@apply relative p-6;
	}
	.testimonial__figure {
		@apply relative z-10;
	}
	.testimonial__blockquote {
		@apply p-6 [&>p]:text-neutral-500 dark:[&>p]:text-neutral-300;
	}
	.testimonial__figcaption {
		@apply flex flex-col items-center gap-4 p-6 pt-2 text-sm leading-normal text-neutral-700 dark:text-neutral-50;
	}
	.testimonial__figcaption-container {
		@apply flex items-center gap-4 pt-4 text-sm;
	}
	.testimonial__figcaption-cite-container {
		@apply flex flex-col gap-1;
	}
	.testimonial__figcaption--credit {
		@apply font-bold uppercase;
	}
	.testimonial__figcaption--cite {
		@apply not-italic;
	}
</style>
